html, body {
    box-sizing: border-box;
    margin:0;
    font-family: 'Noto Sans JP', sans-serif;
}

/* header */
.nav {
    margin:0;
    padding:1rem 1rem 0.5rem 1rem;
    background-color: #263D8D;
    display: flex;
    justify-content: left;
}

.nav a{
    text-decoration: none;
    color:white;
    padding: 0 2rem;
}

.nav a:hover {
    text-decoration: underline;
}

.nav a:active {
    color:#FDF003;
}

/* main */

.main {
    background-color: #4CAF50;
    margin: 0;
    padding: 0;
}

.title {
    padding:10rem 0;
}

.title h1 {
    padding: 2rem 0;
    margin: 0;
    text-align: center;
    background-color: #8B5A2B;
    font-family: 'Mr Dafoe', cursive;
    color: #9f1705;
    letter-spacing: 0.2rem;
    font-size: 5rem;
    -webkit-text-stroke: 0.0001px #FDF003;
    text-stroke: 0.001px #FDF003;
}

.summary {
    color:white;
    padding: 1rem;
}

.summary h3 {
    color:#FDF003;
}

.pic-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding:3rem;
}

.group1, .group2 {
    width: 30%;
}

.quotes {
    background-color: #8B5A2B;
    padding: 2rem;
}

.quotes p {
    margin: 0; 
    color:#FDF003;
}

.words {
    font-size: 2rem;
}

.speaker {
    padding: 2rem 0rem 4rem 0rem;
}

.event {
    background-color: #4CAF50;
    padding-bottom: 2rem;
    color:#FDF003;
}

.event h3 {
    text-align: center;
    font-size: 2rem;
}

.team {
    width: 80%;
    height: auto;
    margin: auto;
}

.team-container {
    display: flex;
    justify-content: center;
}
.meet {
    margin:0;
    padding:1.5rem;

}
@media only screen and (max-width:400px) {
    .nav {
        justify-content: center;
        font-size: 0.8rem;
    }

    .nav a{
        padding: 0 1rem;
    }

    .title {
        padding:4rem 0;
    }

    .title h1 {
        font-size: 2rem;
        -webkit-text-stroke: 0.01px #FDF003;
        text-stroke: 0.01px #FDF003;
    }

    .pic-container {
        padding:1rem;
    }

    .group1, .group2 {
        width:90%;
        padding:1rem;
    }

    .words, .event h3 {
        font-size: 1.2rem;
    }

    .speaker {
        padding: 1rem 0rem 2rem 0rem;
    }





}