/* font-family: 'Mr Dafoe', cursive; */



html, body {
    box-sizing: border-box;
    margin:0;
    font-family: 'Noto Sans JP', sans-serif;
}

.nav {
    margin:0;
    padding:1rem;
    background-color: #263D8D;
}

.nav a{
    text-decoration: none;
    color:white;
    padding: 0 0.5rem;
}